* {
    margin: 0%;
    padding: 0%;
}

#logo {
    /* LOGO */

    width: 3%;
    transform: rotate(90deg);
    float: left;
    margin-left: 10%;
}

nav {
    /*MENU */

    top: 0;
    background-color: #000000;
    width: 100%;
    position: fixed;
    border-bottom: 2px solid black;
    z-index: 10;
    opacity: 0.9;
    text-align: center; 
}

header nav .menu{
    /* TEXTO MENU */
    text-decoration: none;  
    font-family: 'Roboto', sans-serif; 
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding: 1%; 
    display: inline-block; 
}

#menu{
    /* GRANDES ARTISTAS */
    position: relative;
    text-decoration: none;  
    font-family: 'Roboto', sans-serif; 
    font-size: 15px;
    color: rgb(0, 0, 0);
    padding: 1%; 
    display: inline-block;
}

#menu:hover {
    /* QUUANDO PASSA PELO GRANDES ARTISTAS */
    color: white;
    cursor: pointer;
}

#menu:hover ul{
    /* QUANDO PASSA PELO GRANDES ARTISTAS ABRE O SUB MENU EM BLOCK */
    display: block;
    color: rgb(0, 0, 0);
}

nav .menu:hover{
    /* QUANDO PASSA PELO GRANDES ARTISTAS TAMBEM */
    background-color: #161616;
    color: white;
    transition: 0.4s;  
}



